data/
build/
build-docker/
local/
.vs/
.vscode/
.idea/
.DS_Store
__pycache__
CMakeSettings.json
cmake-build-*

frontend/replay/*replay/
replay/
xcode_build/
CityFlow.egg-info/
cityflow.cpython-37m-darwin.so
cityflow.cpython-37m-darwin.so cityflow.cpython-37m-x86_64-linux-gnu.so
cityflow.cpython-37m-x86_64-linux-gnu.so
esquare_ws.xcworkspace
